<div class="all" style="padding: 19%">

    <h1>About application</h1>

    <br>
    <div>
        <p>This task management application is built using Angular, a powerful front-end framework designed for building
            dynamic and modern web applications. By leveraging Angular's two-way data binding and component-based
            architecture, the application provides a seamless and interactive user experience. Additionally, we've
            integrated various libraries from Bootstrap, a popular front-end toolkit, to create a clean, responsive, and
            mobile-friendly interface.
        </p>

        <p> With features like task creation, deletion, and management, the application offers users an efficient way to
            organize their daily tasks. The use of Angular's routing allows for easy navigation between different
            sections, such as tasks, contact, and about pages, all while maintaining a single-page application (SPA)
            structure. This makes the app not only user-friendly but also performant.
        </p>
        <p>
            The design incorporates Bootstrap's grid system for layout flexibility and pre-built components like
            buttons, alerts, and forms, ensuring consistency and ease of use across all devices. Overall, this
            application demonstrates the versatility of Angular combined with the simplicity and elegance of Bootstrap's
            UI elements.

        </p>

    </div>


</div>